.venv
__pycache__

uploaded_images/*
!uploaded_images/.gitkeep

filtered_images/*
!filtered_images/.gitkeep

images_histograms/*
!images_histograms/.gitkeep

equalized_images/*
!equalized_images/.gitkeep